.mapWrapper {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin-top: 45px;
  gap: 16px;
}

.map {
  width: 736px;
  height: 352px;
}

.balloonContent {
  min-width: 200px;
  min-height: 200px;
}
