.mapWrapper {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin-top: 45px;
  gap: 16px;
}

.map {
  width: 736px;
  height: 352px;
  overflow: hidden;
}

.balloonContent {
  min-width: 200px;
}

@media (max-width: 767px) {
  .map {
    width: 100%;
    height: calc(100dvh - 360px);
  }
  .mapWrapper {
    margin-top: 16px;
  }
  .balloonContent {
    min-width: 50px;
    bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .map {
    width: 100%;
    height: calc(100dvh - 380px);
  }
  .mapWrapper {
    margin-top: 32px;
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .map {
    max-width: 100%;
  }
}
