.orderNavigate {
  height: 32px;
  border-bottom: 1px solid var(--gray-light);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 64px;
  width: calc(100% - 64px);
  gap: 16px;
}

.orderNavigateItem {
  font-weight: 700;
  font-size: 14px;
  color: var(--gray);
  pointer-events: none;
}

.orderNavigateItemActive {
  color: var(--black);
  pointer-events: all;
}

.currentPageLink {
  color: var(--main-accent);
}

.orderNavigateItem:hover {
  color: var(--main-accent);
  cursor: url("/pointer.svg"), pointer;
}

.orderNavigateArrowActive path {
  fill: var(--main-accent);
}
