.modelCard {
  border: 1px solid var(--gray-light);
  height: 224px;
  width: 369px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  will-change: transform;
}
.modelCard:hover {
  border: 2px solid var(--gray);
  width: 369px;
  height: 224px;
  padding: 15px;
  cursor: pointer;
}
.modelCard.modelCardActive {
  border: 2px solid var(--main-accent);
  width: 369px;
  height: 224px;
  padding: 15px;
}
.title {
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
}

.price {
  font-weight: 400;
  font-size: 14px;
  color: var(--gray);
}

.image {
  width: 256px;
  height: auto;
  align-self: flex-end;
  margin-top: auto;
}

@media (max-width: 767px) {
  .modelCard {
    width: calc(100% - 36px);
    height: auto;
  }
  .modelCard:hover {
    width: calc(100% - 36px);
    height: auto;
  }
  .modelCard.modelCardActive {
    width: calc(100% - 36px);
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .modelCard {
    width: auto;
    height: auto;
    box-sizing: border-box;
  }
  .modelCard:hover {
    width: auto;
    height: auto;
  }
  .modelCard.modelCardActive {
    width: auto;
    height: auto;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .modelCard,
  .modelCard:hover,
  .modelCard.modelCardActive {
    width: auto;
    height: auto;
    box-sizing: border-box;
  }
  .image {
    width: auto;
  }
}
