.button {
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, var(--main-accent) 2.61%, #039f67 112.6%);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: url("/pointer.svg"), pointer;
  border-radius: 8px;
}
.button:hover {
  filter: brightness(90%);
  cursor: url("/pointer.svg"), pointer;
}

.button:active {
  filter: brightness(80%);
}

@media (min-width: 768px) {
  .button {
    width: 320px;
  }
}
