.menu {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 4;
  top: 0;
  left: -100%;
  display: flex;
  flex-direction: row;
  background-color: #151b1f;
  transition: all 0.3s ease-in-out;
}

.menuActive {
  left: 0;
}

.menuLinks,
.menuContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}
.menuContent {
  margin: 28px;
  margin-top: 80px;
}
.menuItem {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
}

.menuItem:hover {
  color: var(--main-accent);
  cursor: url("/pointer.svg"), pointer;
}

.socialLinks {
  display: flex;
  gap: 24px;
  margin-top: 38px;
}
.socialLink:hover path {
  fill: var(--main-accent);
}
.changeLanguageButton {
  cursor: url("/pointer.svg"), pointer;
  padding: 10px;
  font-weight: 700;
  font-size: 14px;
  color: var(--main-accent);
  margin-top: auto;
  background: none;
  border: none;
}
@media (min-width: 768px) {
  .menu {
    min-height: 620px;
  }
  .changeLanguageButton {
    display: none;
  }
  .menuItem {
    font-weight: 500;
    font-size: 28px;
  }
  .menuLinks,
  .socialLinks {
    padding-left: 97px;
  }
}

@media (min-width: 1024px) {
  .menu {
    background: none;
    min-height: 620px;
  }

  .menuContent {
    background-color: #151b1f;
    margin: 0;
    height: 100%;
    width: auto;
    min-width: 549px;
    flex-grow: 2;
    padding-right: 86px;
  }
  .opacityBox {
    background-color: #151b1f;
    opacity: 80%;
    max-width: 688px;
    min-width: 410px;
    flex-grow: 2;
  }
}
