.model {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
}

@media (max-width: 767px) {
  .model {
    padding: 16px 0;
    overflow-y: auto;
    padding-bottom: 160px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .model {
    flex-shrink: 0;
    padding: 32px 0;
    padding-bottom: 95px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .model {
    flex-shrink: 0;
    padding: 16px 0;
  }
}
