.datePicker {
  width: 230px;
  border: none;
  border-bottom: 1px solid var(--gray);
  padding-left: 8px;
  outline: none;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin-left: 8px;
}

.clearButton {
  position: absolute;
  margin: 0;
  right: 0;
  top: 30%;
  padding: 3px;
  background-color: transparent;
  border: none;
  transform: translateY(-50%);
  cursor: url("/pointer.svg"), pointer;
}

.clearButton::after {
  display: block;
  content: "×";
  font-size: 22px;
  color: var(--black);
  background-color: transparent;
}

.startDateInput,
.endDateInput {
  align-self: flex-end;
}

@media (max-width: 767px) {
  .startDateInput,
  .endDateInput {
    align-self: flex-end;
  }
}
