.summary {
  padding-top: 32px;
  display: flex;
  width: 100%;
}

.carImage {
  margin: 0 auto;
}

.carModel {
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
}

.carPlate {
  font-weight: 400;
  font-size: 14px;
  border: 1px solid var(--gray);
  width: 94px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fuelLevel,
.availability {
  font-weight: 700;
  font-size: 14px;
  color: var(--black);
  & span {
    font-weight: 300;
  }
}

.orderDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
