.burgerButtonWrapper {
  cursor: url("/pointer.svg"), pointer;
  padding: 37px 22px;
  z-index: 10;
}
.burgerButton {
  width: 32px;
  height: 2px;
  position: relative;
  background-color: #ffffff;
  border-radius: 2px;
  margin: 0;
}

.burgerButton::before,
.burgerButton::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: all 0.3s ease 0s;
}

.burgerButton::before {
  top: -7px;
}
.burgerButton::after {
  top: 7px;
}

.burgerButtonActive {
  background-color: transparent;
}
.burgerButtonActive::before {
  top: 0;
  transform: rotate(45deg);
}
.burgerButtonActive::after {
  top: 0;
  transform: rotate(-45deg);
}

.sidebar {
  background-color: #151b1f;
  width: 86px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.changeLanguageButton {
  cursor: url("/pointer.svg"), pointer;
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: var(--main-accent);
  text-align: center;
  margin: 5px;
  width: 48px;
  height: 48px;
  background: none;
  border: none;
  align-self: center;
  margin-bottom: 15px;
}

.changeLanguageButton:hover {
  border: 1px solid #eeeeee;
  border-radius: 50%;
  color: #eeeeee;
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}
@media (min-width: 768px) {
  .sidebar {
    min-height: 620px;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    min-height: 620px;
  }
}
