.location {
  padding-top: 32px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: self-end;
  width: 320px;
}

@media (max-width: 767px) {
  .inputs {
    width: 100%;
  }
  .location {
    padding-top: 16px;
  }
}
