.controls {
  display: flex;
  gap: 16px;
}

.input {
  display: flex;
  gap: 4px;
}

label {
  cursor: url("/pointer.svg"), pointer;
}

.input label {
  font-weight: 300;
  font-size: 14px;
  color: var(--gray);
}

.input input:checked + label {
  font-weight: 300;
  font-size: 14px;
  color: var(--black);
}

@media (max-width: 767px) {
  .controls {
    gap: 8px;
  }
}
