:root {
  font-family: "Roboto";
  --main-accent: #0ec261;
  --blue: #007bff;
  --black: #121212;
  --gray: #999999;
  --gray-light: #eeeeee;
  --background-admin: #f5f6f8;
  --hover: brightness(-10);
  --active: brightness(-20);
}

#root {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  cursor: url("/cursor.svg"), auto;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: url("/pointer.svg"), pointer;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
