:root {
  font-family: "Roboto";
  --main-accent: #0ec261;
  --blue: #007bff;
  --black: #121212;
  --gray: #999999;
  --gray-light: #eeeeee;
  --background-admin: #f5f6f8;
  --hover: brightness(-10);
  --active: brightness(-20);
}

#root {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  cursor: url("/cursor.svg"), auto;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  /* place-items: center; */
  min-height: 100dvh;
  width: 100dvw;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: url("/pointer.svg"), pointer;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: url("/pointer.svg"), pointer;
}

input[type="radio"]:hover {
  border-color: #666;
}

input[type="radio"]:checked {
  background-color: var(--main-accent);
  border-color: var(--main-accent);
  border: 3px solid var(--main-accent);
}

input[type="radio"]:checked::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
}
